@import "tailwindcss";

@theme {
  --color-background: oklch(0.145 0 0);
  --color-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.922 0 0);
  --color-primary-foreground: oklch(0.205 0 0);
  --color-secondary: oklch(0.269 0 0);
  --color-secondary-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.269 0 0);
  --color-muted-foreground: oklch(0.708 0 0);
  --color-destructive: oklch(0.704 0.191 22.216);
  --color-border: oklch(1 0 0 / 10%);
}

body {
  @apply m-0 min-h-screen font-sans min-w-xs bg-background text-foreground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @apply cursor-pointer from-inherit text-inherit;
}

button,
a,
button *,
a * {
  @apply duration-300 ease-in-out;
  transition-property: color;
}

main {
  @apply max-w-5xl mx-auto;
}

#app {
  @apply min-h-screen md:flex;
}

:disabled {
  @apply opacity-60;
}

.chat-list {
  > section {
    scrollbar-color: var(--color-background) var(--color-muted);
    scrollbar-width: thin;
  }
}

@media (width > 48em) {
  .chat-list {
    @apply grid grid-cols-6 grid-rows-10 h-[80vh] my-auto py-3 border border-muted rounded-xl;

    > nav {
      @apply border-r border-r-muted;
      grid-area: 1/1/11/2;
    }

    > header {
      @apply max-h-fit border-b border-b-muted ml-2;
      grid-area: 1/2/1/7;
    }

    > section {
      grid-area: 2/2/11/7;
    }
  }
}
