@import "tailwindcss";

@theme {
  --color-background: oklch(0.145 0 0);
  --color-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.922 0 0);
  --color-primary-foreground: oklch(0.205 0 0);
  --color-secondary: oklch(0.269 0 0);
  --color-secondary-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.269 0 0);
  --color-muted-foreground: oklch(0.708 0 0);
  --color-destructive: oklch(0.704 0.191 22.216);
  --color-border: oklch(1 0 0 / 10%);
}

body {
  @apply m-0 min-h-screen font-sans min-w-xs bg-background text-foreground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
}

button {
  @apply cursor-pointer;
}

button,
a,
button *,
a * {
  @apply duration-300 ease-in-out;
  transition-property: color, border-color;
}

main {
  @apply max-w-5xl w-full;
}

#app {
  @apply min-h-screen md:flex justify-center;
}

:disabled {
  @apply opacity-60 cursor-not-allowed;
}

.unset-disabled {
  &:disabled {
    @apply opacity-100 cursor-default;
  }
}

.chat-container {
  @apply flex flex-col max-md:h-screen;

  > section {
    @apply grow overflow-auto min-h-0 py-2 px-2.5;
    scrollbar-color: var(--color-background) var(--color-muted);
    scrollbar-width: thin;

    > p {
      @apply text-center text-sm p-4 text-muted-foreground;
    }
  }

  > nav {
    @apply border-t border-t-muted gap-4 p-4;
  }
}

.file-upload {
  @apply size-9 isolate relative pointer-events-none border-2 border-transparent rounded-lg;

  &:has(input:focus-visible) {
    @apply border-foreground outline-foreground;
  }

  svg {
    @apply absolute top-[50%] left-[50%] translate-[-50%] size-8 pointer-events-auto cursor-pointer;
  }

  input {
    @apply absolute top-0 left-0 size-8 opacity-0;

    &::file-selector-button {
      @apply size-8 m-0 pointer-events-auto cursor-pointer z-1;
    }
  }
}

@media (width > 48em) {
  .chat-container {
    @apply grid grid-cols-6 grid-rows-10 h-[80vh] my-auto py-3 border border-muted rounded-xl;

    > nav {
      @apply border-r border-r-muted;
      border-top: none;
      grid-area: 1/1/11/2;
    }

    > header {
      @apply max-h-fit border-b border-b-muted ml-2;
      grid-area: 1/2/1/7;
    }

    > section {
      grid-area: 2/2/11/7;
    }
  }
}
